<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='../../public/stylesheets/style.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" rel="stylesheet">
  </head>
  <body>
    <h1><%= title %></h1>
    <h2><%= skill.level %>/10</h2>
    <h3><%= skill.skill %></h3>
    <p> <%= skill.description %> </p>
    <h4><a href="/skills">Back to All Skills</a></h4>
  </body>
</html>