<%- include('../partials/header') %>

    <h2><%= skill.skill %></h2>
    <h3><%= skill.level %>/10</h3>
    <p> <%= skill.description %> </p>
    <h4><a href="/skills">Back to All Skills</a></h4>

<%- include('../partials/footer') %>